/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.auth-form {
  background-color: lightblue;
  width: 250px;
  height: 215px;
  padding: 3px 20px 15px 20px;
}

header {
  display: flex;
  height: 75px;
}

header > nav {
  margin-left: auto;
  height: 100%;
}

nav > ul {
  display: flex;
  height: 100%;
}

nav > ul > li {
  display: inline-block;
  text-align: center;
  width: 120px;
  padding: 30px 20px;
  list-style: none;
  cursor: pointer;
  border: 1px solid black;
}

.form-header {
  text-align: center;
}

.form-group {
  margin: 20px auto;
  text-align: center;
}

.auth-button {
  margin: 0 10px;
}
