/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Noto Sans', sans-serif;
}

.auth-form {
  background-color: lightblue;
  width: 275px;
  padding: 3px 20px 15px 20px;
}

header {
  display: flex;
  position: fixed;
  z-index: 999;
  height: 50px;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.75)
}

header > img {
  cursor: pointer;
}

header > nav {
  margin-left: auto;
  height: 100%;
}

.home-page, .profile-page {
  padding-top: 50px;
}

.fade-in {
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

nav > ul {
  display: flex;
  height: 100%;
}

nav > ul > li {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100px;
  padding: 15px;
  list-style: none;
  cursor: pointer;
  border: 1px solid black;
  background-color: lightblue;
}

nav > ul > li:active {
  top: 3px;
}

.form-header {
  text-align: center;
}

.form-group {
  margin: 20px auto;
  text-align: center;
}

.auth-buttons {
  display: flex;
  padding: 0px;
}

.auth-buttons > li {
  list-style-type: none;
}

.auth-button {
  display: block;
  margin: 0 auto;
}

.splash > h1, .splash > h3 {
  position: relative;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px #000000
}

.splash > h1 {
  margin: 250px auto 40px;
}

.splash {
  padding-top: 50px;
  width: 100%;
  min-height: 700px;
  background-position: 50% 50%;
  background-image: url("https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=576bb45620043f729baef96301c9acb6");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.get-started {
  display: block;
  margin: 30px auto;
  padding: 10px 60px;
}

ul.my-gallery-class {
  display: block;
  margin: 0 auto;
  list-style: none;
}

.img-idx {
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.img-idx:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
